apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: taskapp
  template:
    metadata:
      labels:
        app: taskapp
    spec:
      containers:
      - name: devops-demo
        image: shiva9828/devops-demo:latest
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 10
